{{!-- Page Variant --}}
<!doctype html>
<html
lang="{{ blog.lang }}"
class="no-js">
{{> head name="About" }}
<body itemscope itemtype="https://schema.org/AboutPage">
  {{> sprite }}
  <div class="site-wrapper" id="top">
    {{> banner }}

    {{> breadcrumb name="About" url="about" }}

    <main role="main" id="content" class="site-content wrapper" tabindex="-1">
      <article class="article article--single article--about">
        {{> article-about }}
      </article>
      {{> aside }}
    </main>
    {{> footer }}
  </div>
</body>
</html>
