<!doctype html>
<html
lang="{{ blog.lang }}"
class="no-js">
{{> head name=page.name }}
<body itemscope itemtype="https://schema.org/WebPage">
  {{> sprite }}
  <div class="site-wrapper" id="top">
    {{> banner }}

    {{> breadcrumb name=page.name url="my-page" }}

    <!-- https://www.nczonline.net/blog/2013/01/15/fixing-skip-to-content-links/ -->
    <main role="main" id="content" class="site-content wrapper" tabindex="-1">
      <article class="article article--single">
        {{> article-page }}
      </article>
      {{> aside }}
    </main>
    {{> footer }}
  </div>
</body>
</html>
